
*{
    box-sizing: border-box;
}

.main-container{
    width: 80%;
    margin: auto;
    
}

@media only screen and (max-width: 600px) {

    .main-container{
    width: 100%;
    margin: auto;
}

    
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    row-gap: 20px;
}

.card{
    width: 300px;
    height: 350px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

.card .card-img{
    width: 300px;
    height: 200px;
    padding: 0.5px;
}

.card .card-img img{
    width: 299px;
    height: 199px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card .card-title{
    height: 100px;
    width: 100%;
}

.card .card-title span{
    background-color: #d9d7d7;
    padding: 3px;
    display: inline-block;
    margin: 2px;
    cursor: pointer;   
}

.card-title h1{
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;  
}

.card-title p{
    margin-top: 10px;
    margin-bottom:0px;
    word-wrap: break-word;
}

.card-body{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.header-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    grid-template-areas: "searchBox searchBox searchBox"
                         "sortFilter clearBtn tagFilter";
    
}

.autocomplete{
    position: relative;
    grid-area: searchBox;
    margin: auto;

}

.autocomplete input{
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5em;
    margin: 0.25em;
    border-radius: 0.5em;
    outline: none;
}

.autocomplete input:focus{
    box-shadow: 0 0 0.5em 0 gray;
}

.autocomplete-items{
  
    position: absolute;
    top:99%;
    left:5%;
    z-index: 999;
    width: 94%;
    font-size: 1.5rem;
    padding: 0.5em;
    background-color: whitesmoke;
    display: none; 
    max-height: 200px;
    overflow: auto;
}

.autocomplete-items div{
    padding: 10px;
}

.autocomplete-items div:hover{
    background-color: rgb(187, 186, 186);
    cursor: pointer;
}
.clearBtn{
    margin: auto;
    grid-area: clearBtn;
}

.clearBtn button{
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0.5em;
    border-radius: 0.5em;
    border:1px solid gray;
    outline: none;
}

.clearBtn button:hover ,.clearBtn button:focus {
    border:1px solid gray;
    box-shadow: 0 0 0.5em 0 gray;
}

.sort-filter{
    
    grid-area: sortFilter;
    margin: auto;

}

.tags-filter{
    grid-area: tagFilter;
    margin: auto;
}

.sort-filter select , .tags-filter select{
    font-size: 1.25rem;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    outline: none;
}

.sort-filter select:focus , .tags-filter select:focus{

    box-shadow: 0 0 0.5em 0 gray;

}
